<div id="<%= dom_id pick %>">
  <p>
    <strong>Group:</strong>
    <%= pick.group_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= pick.user_id %>
  </p>

  <p>
    <strong>School:</strong>
    <%= pick.school_id %>
  </p>

</div>
